/* google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
} 

 #header-title{
    color:purple;

} 

.banner-image{
   
       object-fit: cover;
       object-position: 50% 50%;
       height:100%;
   
}
.form-bg{
    justify-content: center;
    align-items: center;
    color:#000000;
    
}
.button-style{
    color:white;
    font-size:16px;
    background-color: purple;
    border:none;

}

     
 
